body {
    background: #1eb6c7;
}

.navNavigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navContainer {
    width: 100%;
    height: 100%;
}

nav ol {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}