body {
    background: black;
}
  
.navNavigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navContainer {
    width: 100%;
    height: 100%;
    background: #1eb6c7;
    display: flex;
    flex-wrap: wrap;
   
    
}

ol {
    box-shadow: 6px 6px 12px;
    border-radius: 20px;
    font-size: 1.1rem;
    color: white;
    justify-content: space-between;

}






